@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: #e6e6e6;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
a svg {
  margin-left: 10px;
}
a:hover {
  opacity: 80%;
}
.LinkBox {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  background: black;
  border-bottom: 2px solid #ffffff;
  box-shadow: 2px 0px 10px;
  justify-content: space-evenly;
}
.heading {
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.Head {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  overflow: hidden;
  color: black;
  width: 80vw;
  max-width: 320px;

  border-radius: 10px;
  background-color: white;
  margin: 10px;
  padding: 0px 0 35px;
  position: relative;
}
.goalPrev {
  margin-top: 50px;
  width: 70%;
  max-width: 500px;
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  font-size: 10px;
  height: 20px;
  border-radius: 2px;
  padding: 5px;
  background-image: linear-gradient(45deg, #882a2a, rgb(255, 82, 82));
  color: white;
  border: none;
  border: 1px solid white;
}
.logo {
  display: flex;
  align-items: center;

  max-width: 300px;
  font-size: 28px;
  color: rgb(255, 255, 255);
}
.logo svg {
  height: 35px;
  width: 30px;
  margin-bottom: 6px;
  margin-right: 10px;
}
.prev {
  letter-spacing: 1px;
  width: 50px;
  height: 25px;
  font-size: 12px;
}
.close:hover {
  opacity: 60%;
}
.form {
  width: 100%;
}
.Form {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
}
.form,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}
.form-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-evenly;
}
.prioritySelect select {
  border: 3px solid black;
  padding-bottom: 15px;
  padding-top: 15px;
}
option {
  text-align: center;
}
.authPages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authPages input {
  width: 90vw;
  max-width: 400px;
}
.btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border: 3px solid black;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
.GoalGroup {
  width: 70%;
}
.GoalGroup input {
  padding: 15px;
  width: 90%;
  border: 3px solid black;
}
.priority {
  margin-right: 3px;
}
.DateBox {
  margin-top: 0px;
}
.Date {
  margin: 0px;
}
.goalHeader {
  padding: 10px 0px 10px 0px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
  .goals {
    grid-template-columns: repeat(1, 1fr);
  }

  .LinkBox {
    margin-top: 20px;
    margin-bottom: 12px;
    width: 100%;
  }
  .LinkBox p {
    display: none;
  }
  .LinkBox svg {
    height: 40px;
    width: 50px;
  }
}
