@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #2d3142;
  --secondary-color: #bfc0c0;
  --tri-color: #4f5d75;
  --accent-color: #ef8354;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.header {
  background: var(--primary-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: 0px 2px 10px #7e7e7e;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  max-width: 200px;
  font-size: 24px;
  color: var(--accent-color);
}
.logo svg {
  fill: white;
  font-size: 25px;
}
.NavBox {
  display: flex;
  width: 90vw;
  max-width: 500px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.NavLink {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color: white;
  align-items: center;
}
.NavLink:hover {
  color: var(--accent-color);
}
.authPages {
  display: flex;
  height: 80vh;
  min-height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AuthInput {
  font-size: 14px;
  padding: 10px;
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 500px;
}
.SubmitBtn {
  border: none;
  color: white;
  background: var(--tri-color);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  background: var(--accent-color);
  border: none;
  border: 2px solid var(--secondary-color);
  color: white;
  padding: 5px;
}
.btn:hover {
  color: var(--accent-color);
  background: white;
}
.Title {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: var(--accent-color);
}
.heading {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.Content {
  align-items: center;
  justify-content: center;
  display: flex;
}
.Container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5px;
  width: 100%;
}
.GoalCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.FilterSelect {
  display: flex;
  width: 100vw;
  max-width: 250px;
  align-items: center;
  justify-content: space-evenly;
}
.FilterSelect label {
  margin-right: 20px;
}
.goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 90vw;
  box-shadow: 2px 2px 10px grey;
  color: var(--primary-color);
  border-radius: 5px;
  max-width: 400px;
}

.goalText {
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--accent-color);
}
.goalHeader {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.priority {
  display: flex;

  box-shadow: 2px 2px 5px black;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  font-size: 14px;
}
.Dates {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.EndDate {
  width: 100%;
  padding: 10px;
  font-size: 12px;
}
.DaysLeft {
  color: white;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background: var(--accent-color);
}

.FormCont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.FormInfo {
  display: flex;
  margin: 20px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.FormInfo input,
select {
  padding: 10px;
  font-size: 14px;
  width: 80vw;
  max-width: 500px;
}
.FormInfo label {
  width: 150px;
  margin-bottom: 10px;
}
.DisableInfo {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-top: 30px;
}
.DisableInfo input {
  margin-left: 20px;
}
.Success {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}
.BtnBox {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.bigBtn {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 60%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.bigBtn svg {
  margin-right: 20px;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
.close {
  background: rgb(187, 13, 13);
}
.DemoBox {
  margin-top: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1050px) {
  .GoalCont {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .goal {
    width: 80vw;
  }
  .goalText {
    font-size: 12px;
  }
  .FilterSelect {
    margin-top: 30px;
  }
  .NavLink {
    margin-top: 10px;
  }
  .LogoutBtn {
    width: 70%;
    margin-top: 15px;
  }
  .logo {
    margin-bottom: 5px;
  }
}
